<h2>Social Hashtag Gallery</h2>


<p>Grabs images matching any hashtag from social APIs like instagram. Stores image url & details locally for each one in a custom record type so you have full control over the content on your site. This allows you to publish/unpublish, and include them any way that you like on your pages.</p>
<ol>
	<li>Use the Search bar in the left column to search for your hashtags. (You must have created the hashtag record first)</li>
	<li>Search Results mapping your hashtag will be displayed.</li>
	<li>Publish or Reject images</li>
	<li>Published images will show up automatically on any page using that hashtag.</li>
</ol>