/bin/**
/distros/**
/gulp/**
/HostingRootFiles/**
/node_modules/**
/ns_npm_repository/**
/SupportScripts/**
/Modules/suitecommerce/**
/Modules/third_parties*/**
gulpfile.js
/Modules/efficiencies/Case.Upload@*/**
/Modules/efficiencies/AdvancedItemImages@*/**
/Modules/efficiencies/BOPIS.Checkout@*/**
/Modules/efficiencies/BOPIS.MyAccount@*/**
/Modules/efficiencies/BOPIS@*/**
/Modules/efficiencies/BackInStockNotification@*/**
/Modules/efficiencies/BackInStockNotificationAdmin@*/**
/Modules/efficiencies/Backbone.CompositeView.CollectionViewFix@*/**
/Modules/efficiencies/Backbone.CompositeView.DataContext@*/**
/Modules/efficiencies/Backbone.PluginInstaller@*/**
/Modules/efficiencies/Backbone.View.PostContextHook@*/**
/Modules/efficiencies/Blog@*/**
/Modules/efficiencies/BlogCategories@*/**
/Modules/efficiencies/BlogItemDetails@*/**
/Modules/efficiencies/CMSMerchandisingZonesInitialization@*/**
/Modules/efficiencies/CMSRefreshLinks@*/**
/Modules/efficiencies/CMSadapterFixes@*/**
/Modules/efficiencies/Case.Upload@*/**
/Modules/efficiencies/Case.UrlParams@*/**
/Modules/efficiencies/CheckoutFileUpload@*/**
/Modules/efficiencies/ContactUs@*/**
/Modules/efficiencies/ContactUsGoogleRecaptcha@*/**
/Modules/efficiencies/CustomIcons@*/**
/Modules/efficiencies/DisplayProductLeadTime@*/**
/Modules/efficiencies/DuplicateCustomerManagement@*/**
/Modules/efficiencies/EFCore@*/**
/Modules/efficiencies/EnvironmentFiles@*/**
/Modules/efficiencies/FacetsPriorityFix@*/**
/Modules/efficiencies/Footer.Copyright@*/**
/Modules/efficiencies/GiftCertificateBalance@*/**
/Modules/efficiencies/GiftCertificateVariableAmount@*/**
/Modules/efficiencies/GiftWrap@*/**
/Modules/efficiencies/GlobalConfiguration@*/**
/Modules/efficiencies/GoogleProductFeeds@*/**
/Modules/efficiencies/GoogleRecaptcha@*/**
/Modules/efficiencies/GoogleTrustedStore@*/**
/Modules/efficiencies/GuestOrderStatus@*/**
/Modules/efficiencies/HashScroll@*/**
/Modules/efficiencies/HashtagGallery@*/**
/Modules/efficiencies/HomepagePopup@*/**
/Modules/efficiencies/InfiniteScroll@*/**
/Modules/efficiencies/InventoryDisplay.Global@*/**
/Modules/efficiencies/InventoryDisplay@*/**
/Modules/efficiencies/ItemBadges@*/**
/Modules/efficiencies/ItemDetails.AddToQuote.Enablement@*/**
/Modules/efficiencies/ItemDetails.View.LinkToReviews@*/**
/Modules/efficiencies/ItemDetails.View.SelectSingleOption@*/**
/Modules/efficiencies/ItemDetails.View.VideoOnGallery@*/**
/Modules/efficiencies/LiveOrder.MultiLine@*/**
/Modules/efficiencies/LoginRegister.Login.RememberEmail@*/**
/Modules/efficiencies/LookBook@*/**
/Modules/efficiencies/MatrixMultiAdd@*/**
/Modules/efficiencies/MyGiftCertificates@*/**
/Modules/efficiencies/OrderStatusSummary@*/**
/Modules/efficiencies/PSCategories.Facets@*/**
/Modules/efficiencies/PSCategories@*/**
/Modules/efficiencies/ProductEditReviewGoogleRecaptcha@*/**
/Modules/efficiencies/ProductReviewGoogleRecaptcha@*/**
/Modules/efficiencies/Profile.MyStore@*/**
/Modules/efficiencies/QuantityPricing@*/**
/Modules/efficiencies/QuickOrder@*/**
/Modules/efficiencies/QuickStartConfiguration@*/**
/Modules/efficiencies/Receipt.List.View.HideStatus@*/**
/Modules/efficiencies/ResolveAssetUrl@*/**
/Modules/efficiencies/SSPFiles@*/**
/Modules/efficiencies/SetupWebsiteConfigurationEnhancements@*/**
/Modules/efficiencies/ShoppingStarterFixes@*/**
/Modules/efficiencies/SiteManagementToolRegions@*/**
/Modules/efficiencies/SizeChart@*/**
/Modules/efficiencies/StagingNoIndex@*/**
/Modules/efficiencies/StoreLocator@*/**
/Modules/efficiencies/Stores@*/**
/Modules/efficiencies/StyleFixes@*/**
/Modules/efficiencies/SuiteletService@*/**
/Modules/efficiencies/SuitescriptDocs@*/**
/Modules/efficiencies/ThemeCustomer@*/**
/Modules/efficiencies/HomeCMS@*/**
/Modules/efficiencies/ProductComparison@1.0.0/**
