/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.home {
  @extend .container;
}

.home-nopad {
  @extend .container;
  padding: 0;
}

.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}

.home-slider-container {
  margin-top: -34px;
  margin-bottom:$sc-base-margin * 4;
  @extend .row;
}
.home-image-slider {
  @extend .col-sm-12;
}

.home-image-slider .bx-wrapper {
  margin-bottom: $sc-base-margin * 8;
}
.home-image-slider .bx-pager-item {
  vertical-align: middle;
}
.home-image-slider .bx-controls,
.home-image-slider .bx-controls .bx-pager {
  @media (min-width: $screen-sm-min) {
    margin-top: $sc-base-margin * 2;
  }
}

.home-image-slider .bx-viewport ul li {
  overflow:hidden;
}

.home-image-slider .bx-wrapper img {
  margin: auto 0;
  height: 100%;
  max-width: none;
  @media (min-width: $screen-sm-min) {
    height: auto;
    max-width: 100%;
  }
}

.home-gallery-prev-icon, .home-gallery-next-icon {
  position: absolute;
  top: 40%;
  width: $sc-target-size-mobile;
  height: $sc-target-size-mobile;
  font-size: 50px;
  color: $sc-color-gallery-icon-control;
}

.home-gallery-prev-icon {
  left: $sc-base-margin * 6;
  @extend .icon-angle-left;

}

.home-gallery-next-icon {
  right:10px;
  @extend .icon-angle-right;
}

.home-image-slider .bx-pager {

  a {
    color: $sc-color-theme-light !important;
    background-color: $sc-color-theme-light!important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    font-size:0;
    text-indent:-9999px;
  }
  a.active,
  a:active {
    background-color: $sc-color-secondary;
  }
}

@media (min-width: $screen-md-min) {

  .home-image-slider .bx-wrapper {
    margin-bottom: 0;
  }
}

.home-image-slider .bx-pager {
  @media (min-width: $screen-md-min) {
    width: 940px;
    position: absolute !important;
    bottom: $sc-medium-margin;
    text-align: center;
  }
  @media (min-width: $screen-lg-min) {
    width: 1170px;
  }
}
// end bx-slider specifics

.home-banner-main {
  margin-bottom:$sc-base-margin * 4;
  @extend .row;
}

.home-banner-main-cell-nth0{
  @extend .col-xs-12;
  @extend .col-sm-4;
  text-align:center;
  margin-bottom:$sc-medium-margin;

  img {
    margin:auto;
    float:left;
    @media (min-width: $screen-sm-min) {
      max-width:100%;
      width: 100%;
      float: none;
    }
  }
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {
  @extend .col-xs-6;
  @extend .col-sm-4;
  .home-banner-main-cell-text {
    display: none;
  }
  img {
    margin: 0 auto;
    float: none;
  }
}
.home-banner-main-cell-bg{
  background:$sc-color-slide-background;
  width: 100%;
  overflow: hidden;
}

.home-banner-main-cell-text{
  display:inline-block;
  color:$sc-color-theme;
  font-size:$sc-h2-font-size-mobile;
  text-transform:uppercase;
  font-weight:$sc-font-weight-light;
  line-height: 82px;
  float: left;
  @media (min-width: $screen-sm-min) {
    display:none;
  }
}

.home-merchandising-zone {

  .merchandising-zone {
    border: 0;
  }
  .merchandising-zone-title {
      display: none;
  }
  .item-cell-main-image {
    margin:0 auto;
    width: $img-medium;
  }
}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
  //height: 423px !important;
}

.home-slide-main-container{
  overflow:hidden;
  height:400px;
  text-align:center;
  border-bottom-left-radius: $sc-theme-border-radius;
  border-bottom-right-radius: $sc-theme-border-radius;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: 100%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    height: 340px;
  }
}
.home-slide-caption{
  position:absolute;
  top:120px;
  width:100%;
  text-align:center;
  padding:$sc-small-margin;
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    top: 80px;
  }
  .home-slide-caption-title{
      margin-bottom:$sc-small-margin;
      font-size:$sc-theme-carousel-title-size-mobile;
      line-height: $sc-base-font-size * 2.66;
      color:$sc-theme-carousel-text-color;
      text-shadow: 2px 2px $sc-theme-color-shadow;
      font-weight: $sc-font-weight-light;
      padding-bottom: $sc-base-padding;
      @media (min-width: $screen-sm-min){
          margin-bottom:$sc-medium-margin;
          font-size:$sc-theme-carousel-title-size-desktop;
      }
  }
  p{
    display:none;
    @media (min-width: $screen-xs-min){
      display:block;
      margin-bottom:$sc-medium-margin;
      color:$sc-theme-carousel-text-color;
      font-size:$sc-theme-carousel-text-size;
      text-transform:lowercase;
      font-weight:$sc-font-weight-bold;
      text-shadow: 1px 1px $sc-theme-color-shadow;
    }
  }

  .home-slide-caption-button-container{
    padding-left:$sc-base-padding *4;
    padding-right:$sc-base-padding *4;
    position:absolute;
    margin-left: -$sc-base-padding *2;
    bottom:-60px;
    width: 100%;
    @media (min-width: $screen-sm-min){
      padding:0;
      margin-left:0;
      margin-right:0;
      position:relative;
      bottom:0px;
    }
  }

  .home-slide-caption-button{
    @extend .button-secondary;
    @extend .button-small;
    box-shadow: 1px 1px 1px #333;
    @media (min-width: $screen-xs-min){
      width: auto;
      position:relative;
    }
  }
}

.home-merchandizing-zone{}
.home-image-slider-list{}

/* Home Infoblocks */

.home-infoblock-layout {
    @extend .row;
    margin-left: $sc-base-margin * 3;
    margin-right: $sc-base-margin * 3;
    margin-top: $sc-base-margin * 3;
    @media (min-width: $screen-sm-min) {
      margin-left: 0;
      margin-right: 0;
  }
}

.home-infoblock {
    width: 100%;
    @extend .col-sm-6;
    height: $sc-theme-infoblock-height-mobile;
    @include border-radius($sc-theme-border-radius);
    display: table;
    margin-bottom: $sc-base-margin;
    &:hover {
        cursor: pointer;
    }
    @media (min-width: $screen-xs-min) {
        width: calc(50% - 10px);
        margin-bottom: 0;
        float: left;
    }
    @media (min-width: $screen-md-min) {
        height: $sc-theme-infoblock-height-desktop;
    }
}

.home-infoblock-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

%home-infoblock-copy {
  font-family: $sc-theme-secondary-font;
  text-transform: uppercase;
  color: $sc-theme-infoblock-link-color;
  text-shadow: 2px 2px $sc-theme-color-shadow;
  letter-spacing: 1px;
}

.home-infoblock-text {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
    @extend %home-infoblock-copy;
    font-size: $sc-theme-infoblock-text-size;
  }
}

.home-infoblock-title {
    @extend %home-infoblock-copy;
    font-size: $sc-theme-infoblock-title-size-mobile;
    @media (min-width: $screen-sm-min) {
      font-size: $sc-theme-infoblock-title-size-desktop;
    }
}

.home-infoblock-link {
    &:hover .home-infoblock-title,
    &:active .home-infoblock-title,
    &:focus .home-infoblock-title,
    &:hover .home-infoblock-text,
    &:active .home-infoblock-text,
    &:focus .home-infoblock-text {
        color: $sc-theme-infoblock-link-color;
        opacity: 0.75;
    }
    @media (min-width: $screen-xs-min) {
      &:nth-child(even) .home-infoblock {
          margin-left: 10px;
      }
      &:nth-child(odd) .home-infoblock {
          margin-right: 10px;
      }
    }
}

/* Free text area */
.home-page-freetext {
    @extend .col-xs-12;
    @extend .box;
    padding: $sc-base-padding * 6;
}
.home-page-freetext-wrapper {
    @extend .row;
    margin-top: $sc-medium-margin;
    margin-bottom: $sc-medium-margin;
}
.home-page-freetext-content {
    @extend .row;
}
.home-page-freetext-content-text {
    @extend .col-sm-8;
}
.home-page-freetext-content-header h3 {
    padding-bottom: $sc-base-padding;
}
.home-page-freetext-content-images-wrapper {
    @extend .col-sm-4;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
}
.home-page-freetext-content-image {
    padding-top: $sc-base-padding * 2;
    @media (min-width: $screen-sm-min) {
      padding-top: 0;
    }
}