/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.

*/

/* SITE-WIDE */

/* COLORS */

/*
 - These colors are used generally around the site for borders, backgrounds, text
 - They are used as a general color theme for the main content area
 - $sc-theme-color is the main color and the light and lightest versions are the same hue
 - If you want to generate these values instead of use a hex value, use the function provided
 */
$sc-theme-color: #938C70;
$sc-theme-color-light: #EBE0C6; // approx lighten($sc-theme-color, 24%)
$sc-theme-color-lightest: #F9F8EA; // background color, approx lighten($sc-theme-color, 36%)

/* Highlight colors around the site, including buttons */
$sc-theme-color-primary: #CD6151;
$sc-theme-color-secondary: darkgoldenrod;
$sc-theme-color-tertiary: #fff; // icons, main content background

/* Link color, headings and some border colors */
$sc-theme-color-header: #5B87AE;
$sc-theme-color-link: $sc-theme-color-primary; // for improved UI, a different color for links recommended
$sc-theme-color-link-hover: $sc-theme-color-header;
$sc-theme-border-color: $sc-theme-color-light; //border color against background color
$sc-theme-border-color-light: #EEEEEE; // border color against content background color, facet display icons, .box-column background color
$sc-theme-border: 3px double $sc-theme-border-color; // borders in footer
$sc-theme-border-light: 3px double $sc-theme-border-color-light; // borders in main content area, under nav, in cart and checkout

/* Forms */
$sc-theme-input-color: #C6C6C6; //input border color

/* Copy, footer background */
$sc-theme-color-copy: #66625A;

/* Content boxes */
$sc-theme-color-content: $sc-theme-color-tertiary; //background color for the products, pdp container, content containers

/* Drop Shadow */
$sc-theme-color-shadow: transparentize(black, 1-0.25); // button, carousel and infoblocks text shadow

/* Buttons */
$sc-theme-cta-primary-color: $sc-theme-color-primary;
$sc-theme-cta-secondary-color: #E5B12E;
$sc-theme-cta-tertiary-color: $sc-theme-color-tertiary;
$sc-theme-cta-tertiary-border-text: $sc-theme-color-header;
$sc-theme-cta-hover-color: $sc-theme-color-header;

/* FONTS */
$sc-theme-primary-font: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sc-theme-secondary-font: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* SIZING */
$sc-theme-cell-img-height: 160px; // image size on merchandising zones, related items etc
$sc-theme-cell-img-width: 160px;
$sc-theme-skew-distance: 14px; // MUST INCLUDE PX, EVEN IF 0! distance of slant on buttons and nav
$sc-theme-border-radius: 4px; // curve radius on all container divs and buttons

/* SPACING */
/* For left/right padding */
$sc-theme-mobile-padding: 25px;
$sc-theme-desktop-padding: 35px;


////////////////////////////////////////////////////////////////////////////////


/* HEADER */
/* Moved from header scss */
$sc-main-nav-height: 72px;
$sc-main-nav-width: 130px;
$sc-main-nav-link-height: 44px; //?
$sc-sidebar-size: 246px;

/* Category Navigation */
$sc-theme-nav-font-size: 14px;
$sc-theme-nav-color: $sc-theme-color-primary;
$sc-theme-nav-bgr-color: $sc-theme-color-tertiary;

/* Header Right Hand Menu Links i.e. login, register */
$sc-theme-header-link-color: $sc-theme-color;
$sc-theme-header-link-color-hover: $sc-theme-color-link-hover;

/* Navigation Tools (Icons) */
$sc-theme-icon-size: 20px;
$sc-theme-icon-color: $sc-theme-color-copy;
$sc-theme-cart-icon-color: $sc-theme-color-tertiary;


////////////////////////////////////////////////////////////////////////////////


/* HOME */

/* Carousel */
$sc-theme-carousel-title-size-desktop: 85px;
$sc-theme-carousel-title-size-mobile: 55px;
$sc-theme-carousel-text-size: 22px;
$sc-theme-carousel-text-color: $sc-theme-color-tertiary;
$sc-theme-carousel-button-font-size: 18px;
$sc-theme-carousel-button-text-color: $sc-theme-color-tertiary;
$sc-theme-carousel-button-bgr-color: $sc-theme-cta-secondary-color;
$sc-theme-carousel-button-bgr-hover-color: $sc-theme-cta-hover-color;

/* Infoblocks */
$sc-theme-infoblock-height-mobile: 160px;
$sc-theme-infoblock-height-desktop: 200px;
$sc-theme-infoblock-content-width: 200px;
$sc-theme-infoblock-highlight-color: #000; //user hovers over infoblock and coloured overlay applied
$sc-theme-infoblock-title-size-desktop: 46px;
$sc-theme-infoblock-title-size-mobile: 28px;
$sc-theme-infoblock-text-size: 20px;
$sc-theme-infoblock-link-color: $sc-theme-color-tertiary;


////////////////////////////////////////////////////////////////////////////////


/* FOOTER */

$sc-theme-footer-submit-color: $sc-theme-color-secondary;
$sc-theme-footer-font-size: $sc-small-font-size;
$sc-theme-footer-heading-color: $sc-theme-color-copy;
$sc-theme-footer-link-color: $sc-theme-color;
$sc-theme-footer-link-color-hover: $sc-theme-color-link-hover;
$sc-theme-footer-social-icon-color: $sc-theme-color-secondary;
$sc-theme-footer-social-icon-size: 26px;