/* Item Views */
.item-views-cell-navigable-item-amount-value {
    font-size: 14px;
}

/* RELATED ITEMS */
/* RECENTLY VIEWED */
.item-relations-related,
.recently-viewed-items,
.item-relations-correlated {
    & h3 {
        @extend %product-slider;
    }
}

/*
MERCHANDISING ZONE ITEM
Rewrites the classes in the suitecommerce/Merchandising module:
_merchandising-zone-cell-templates.scss
*/
.merchandising-zone-container,
.item-relations-related-row,
.recently-viewed-items,
.item-relations-correlated-row {
    & .bx-wrapper {
        max-width: 1168px !important; // this overrides the value added in the inline css
    }
}

.merchandising-zone-cell-template,
.item-relations-cell,
.recently-viewed-cell-item {
    /* slideWidth: 228 in SC.Configuration.js
    doesn't seem to be configurable in the ERP backend */
    width: 272px !important; // this is meant to override the value in SC.Config and must have !important
    margin-left: $sc-small-margin;
    margin-right: $sc-small-margin;
    padding-bottom: $sc-base-padding * 2;
    &>div {
        @extend .box;
        padding-top: $sc-base-padding * 4;
        padding-bottom: $sc-base-padding * 2;
    }
    .item-views-related-item-text {
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        padding: $sc-base-padding*4 $sc-base-padding $sc-base-padding*2;
        border-bottom: 4px solid transparent;
    }
    .item-view-lead-price,
    .item-views-price-lead {
        @extend .middle-price;
    }
    .item-views-price {

    }
    .item-views-related-item-rate {
        width: 92px;
        margin: 0 !important;
    }
    .item-views-related-item-thumbnail {
        min-height: $sc-theme-cell-img-height !important;
        margin-bottom: $sc-base-margin * 2;
        display: inline-block;
        & img {
            height: $sc-theme-cell-img-height !important;
            width: $sc-theme-cell-img-width !important;
        }
    }
    .item-views-related-item-title {
        color: $sc-theme-color-link;
        font-size: 16px;
        margin-bottom: $sc-base-margin;
        border-top: $sc-theme-border-light;
        padding-top: $sc-base-padding * 3;
        &:hover {
            color: $sc-theme-color-link-hover;
            text-decoration: underline;
        }
    }

}