/* Checkout */
/* Also see CustomStyles > _qs-custom-order-wizard-cartitems-module.scss */
.order-wizard-address-module-form-placeholder .address-edit {
    border: none;
}
.order-wizard-cart-summary-container {
    margin-bottom: 0;
}
.order-wizard-cart-summary-shipping-cost-applied {
    @extend .summary-shipping-cost-applied;
    & .order-wizard-cart-summary-grid-float {
        font-size: 14px;
        & span {
            color: $sc-theme-color-copy;
        }
    }
}
.order-wizard-cart-summary-shipping-cost-formatted,
.order-wizard-cart-summary-tax-total-formatted {
    @extend .cart-summary-amount-shipping;
}
.order-wizard-promocodeform-expander-head {
    @extend .accordion-head;
}
.order-wizard-promocodeform-expander-head-toggle {
    @extend .accordion-head-toggle;
}
.order-wizard-promocodeform {
    @extend .summary-container;
    border-top: none;
    padding: 0;
    margin-bottom: 0;
}
.order-wizard-cart-summary-total {
    padding-bottom: $sc-base-padding * 2;
}
.item-views-cell-navigable-item-image {
    padding-left: 0;
}
.wizard-header{
    padding-top: $sc-theme-desktop-padding;
    border-bottom: $sc-theme-border-light;
}
.wizard-step-navigation-disabled,
.wizard-step-navigation-divider {
    color: $sc-theme-input-color;
    &:hover, &:visited, &:focus{
        color: $sc-theme-input-color;
    }
}