/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-simplified-main {
	@extend .container-fluid;
	padding: 0;
	/* positioning in order to move home slider under nav */
	position: relative;
	z-index: 4;
	height: $sc-theme-header-simplified-height;
	& .nav-header-logo {
		background-repeat: no-repeat;
		background-position: -200px 0;
		width: 200px;
		position: absolute;
		height: $sc-theme-header-simplified-height;
	}

	& .header-logo-image {
		width: auto;
		max-width: 280px;
		position: relative;
		top: 20px;
		left: 20px;
	}
}

.header-simplified-background {
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: $sc-theme-header-simplified-height;
}